//edit

//landing
//#form1 {
//display: none;
//}

// http://css-tricks.com/perfect-full-page-background-image/
.landing-background {
   //instead of background-url:
   background: url("../img/background-landing.jpg") no-repeat center center
      fixed;
   background-size: cover;
   //background-repeat: no-repeat;
   //spread across 100% of viewport
   //background-position: center center;
   min-height: 100vh;
}
.bear-text {
   color: white;
}

// styles log out to make flush with edge of card and font adjusted with var remove border truly flush
.btn-link {
   padding-left: 0;
   padding-right: 0;
   font-weight: $font-weight-bold;
   border: 0;
}

// styles log out to make flush with edge of card and font adjusted with var remove border truly flush
.btn-link {
   padding-left: 0;
   padding-right: 0;
   font-weight: $font-weight-bold;
   border: 0;
}

//var is listed style doc to style
.text-brand {
   font-family: $font-family-brand;
}
//seperates  tabs
.tab-separator {
   border-left: 1px $gray-800 solid;
}
//highlights  review tab could use jquery to add and remove
.tab-active {
   background-color: $gray-800;
}

.card {
   border: 0;
}
.card-body {
   color: $white;
   font-family: $font-family-serif;
   font-size: $font-size-base * 1.25;
}
.card.bg-primary {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
.card.bg-secondary {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}
/*makes the button group  weight of normal*/
.btn-group .btn {
   font-weight: $font-weight-normal;
}

textarea {
   /*width 100% makes it span entirety of thing and all textareas transparent */
   width: 100%;
   background-color: transparent;
   /* https://stackoverflow.com/a/17110012 */
   border: none;
   overflow: auto;
   outline: none;

   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;

   resize: none; /*remove the resize handle on the bottom right*/
}
/*font is white in any card text area*/
.card textarea {
   color: $white;
}
/*When something has a bg of success and lead p tag add space after lead because it is nested*/
.bg-success,
.bg-danger p.lead {
   color: $white;
}
a.btn.disabled {
   pointer-events: fill !important;
   cursor: not-allowed;
}
